 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Uma coluna falando um pouco</p>
                </div>
                <div class="col-lg-4">
                    <p>Outra falando mais um</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.esalq.usp.br/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Site da ESALQ
                    </a>
                </div> 
            </div>
        </div>
    </section>
