<!-- Participe Section -->
<header>
  <section class="success" id="conheca_gent">
    <div class="lesstop">
      <div class="row">
	<div class="text-center">
          <h2>Conheça a GENt</h2>
          <hr class="star-other">

	<br>
	<br>

        <div class="col-lg-4 col-lg-offset-2">
          <img src="img/participantes/Heloisa.jpg" class="img-responsive img-circle" alt=""  width="250" height="250">

          <p align="justify" style="text-align:center;">
            Heloísa Defant é engenheira agrônoma e mestranda pelo programa de Genética e Melhoramento de Plantas (ESALQ/USP). 
            Sua pesquisa está relacionada com genética de microrganismos e o entendimento das relações entre microrganismos benéficos e plantas. 
            Gosta muito de ler e colecionar livros, assistir filmes e séries, montar quebra-cabeças e aprender a tocar novos instrumentos musicais.
          </p>
        </div>

        <div class="col-lg-4">
          <img src="img/participantes/Maria_Leticia.jpeg" class="img-responsive img-circle" alt=""  width="250" height="250" >
          <p align="justify" style="text-align:center;">
            Maria Letícia é bióloga pela Universidade de Campinas (Unicamp), mestre e doutora em Genética e Melhoramento de Plantas pela ESALQ/USP 
            (Universidade de São Paulo), e também é especialista em Jornalismo Científico pela Unicamp. Tem interesse em saber como os microrganismos 
            se relacionam com o mundo, e também gosta de falar sobre a maneira como os cientistas se comunicam. É curiosa, adora viajar e ter ideias 
            de projetos megalomaníacos que nunca sairão do papel.
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <br>
          <br>
          <img src="img/participantes/Fernando.jpg" class="img-responsive img-circle" alt=""  width="280" height="280">
          <p align="justify" style="text-align:center;">
            Fernando é bacharel em Biotecnologia pela Universidade Federal de São Carlos (UFSCar), mestre e doutor em Genética e 
            Melhoramento de Plantas pela ESALQ/USP (Universidade de São Paulo). Suas pesquisas em Bioinformática são focadas no estudo 
            da expressão gênica em plantas poliplóides. Fora do laboratório, gosta de estar em contato com a natureza e de cultivar plantas carnívoras.
          </p>
        </div>

        <div class="col-lg-4">
          <br>
          <img src="img/participantes/Ana_Letycia.jpg" class="img-responsive img-circle" alt=""  width="280" height="280" >
          <p align="justify" style="text-align:center;">
            Ana Letycia é Engenheira Agrônoma e mestre em Genética e Melhoramento de Plantas pela UFG (Universidade Federal de Goiás). 
            Atualmente, é doutoranda em Genética e Melhoramento de Plantas pela ESALQ/USP (Universidade de São Paulo). 
            Seus principais interesses de pesquisa são o estudo de transcriptomas e a análise de dados de sequenciamento de nova geração 
            (NGS) de plantas cultivadas para gerar conhecimento e colaborar com programas de melhoramento. É apaixonada por cachoeiras, 
            adora viajar, conversar com os animais e escrever poesia.
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <br>
          <br>
          <img src="img/participantes/Guilherme.png" class="img-responsive img-circle" alt=""  width="250" height="250">
          <p align="justify" style="text-align:center;">
            Guilherme é Engenheiro Agrônomo e está fazendo o mestrado em Genética e Melhoramento de Plantas pela ESALQ/USP. 
            Sua pesquisa é relacionada à expressão gênica de cana-de-açúcar. Fora (e dentro) do laboratório, adora programação e 
            sonha em escrever um joguinho. Na Internet, consome conteúdo de D&D, speedrun e piadas de estatística.
          </p>
        </div>

        <div class="col-lg-4">
          <br>
          <img src="img/participantes/Maressa.jpg" class="img-responsive img-circle" alt=""  width="280" height="280" >
          <p align="justify" style="text-align:center;">
            Maressa é biotecnologista pela Universidade Federal de São Carlos (UFSCar), mestra em Imunologia pela Universidade de São Paulo (USP) e 
            doutoranda em Biologia Molecular pela ESALQ/USP. Sua pesquisa é focada em estudo de interações entre hospedeiro-inseto-patógeno. 
            É apaixonada por animais, adora viajar e experimentar comidas típicas. 
            <br>
            <br>

          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <img src="img/participantes/Cristiane.png" class="img-responsive img-circle" alt=""  width="250" height="250">
          <p align="justify" style="text-align:center;">
            Cristiane possui bacharelado em biotecnologia pela UFSCar (Universidade Federal de São Carlos), mestre e doutora em 
            Genética e Melhoramento de Plantas pela ESALQ/USP (Universidade de São Paulo). Sua pesquisa envolve genética estatística e bioinformática. 
            Além da ciência, Cris também é apaixonada por artes circenses e pode ser encontrada pendurada em árvores com seu tecido acrobático 
            aos finais de semana (quando não existia pandemia).
          </p>
        </div>



      </div>
</div>
</header>
