 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-other">
                <div class="col-lg-12">
                    <p align="justify" style="text-align:center;">O GENt é um grupo de divulgação científica do 
                        Departamento de Genética da Escola Superior de Agricultura
                         “Luiz de Queiroz”.
                          Estamos aqui porque acreditamos que, 
                          além de importante, a genética pode ser divertida. </p>
                    <p align="justify" style="text-align:center;">Através de eventos dentro da universidade,
                         nas escolas e na rua, queremos levar o conhecimento 
                         científico para o dia-a-dia das pessoas. Saiba mais 
                         sobre os nossos eventos e ações aqui, no nosso site!</p>
                    <p align="justify" style="text-align:center;">  Nosso logo, elaborado por Dr. Fernando Espolador e Drª Júlia Morosini, traz a imagem de quatro pessoas unindo as mãos ao centro da figura, que em outro ponto de vista forma um cromossomo duplicado. O grupo aderiu a imagem por acreditar que ela transmite sua proposta de levar conhecimentos em genética e promover maiores comunicações/união entre a comunidade e a academia.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
